<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1 style="text-align:center">Register</h1>
              <p class="text-muted" style="text-align:center">Create your account</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" [(ngModel)]="registerData.username" class="form-control" placeholder="Username">
              </div>
  
              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input type="email" [(ngModel)]="registerData.email"  class="form-control" placeholder="Email">
              </div>
  
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)]="registerData.pwd" class="form-control" placeholder="Password">
              </div>
  
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Repeat password">
              </div>
  
              <button type="button" (click)="doRegister()" class="btn btn-block btn-success">Create Account</button>
            </div>
            <div><p style="text-align:center">Already have an account ? <a href="#" [routerLink]="['/login']" routerLinkActive="active">Login Here</a></p></div>
            <!-- <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  